<h3>Edit page for <%= @list.name %></h3>

<%= form_with model: @list, url: user_list_path(@user, @list), local: true do |f| %>
    <%= f.label :name%>
    <%= f.text_field :name %><br><br>
    Choose recipes to add to list below.<br><br>
    <% Recipe.all.each do |recipe| %>
        <%= f.fields_for :recipes, recipe do |recipes_fields| %>
            <%= recipes_fields.check_box :included, {checked: @list.recipes.include?(recipe)}  %>
            <%= recipes_fields.label :"#{recipe.name}" %>
        <% end %><br>
    <% end %>
    Add any individual items with quantities below.<br><br>
    <% @list.additional_items.each do |additional_item| %>
        <%= render partial: "shared/form_for_additional_items", locals: {f: f, additional_item: additional_item} %>
    <% end %>
    <% 15.times do %>
        <%= render partial: "shared/form_for_additional_items", locals: {f: f, additional_item: @list.additional_items.build} %>
    <% end %>



    <%= f.submit %>
<% end %>
<br><br>
<%= button_to "Delete List", user_list_path(@user, @list), method: :delete %>


