<h3><%= @list.name %> by: <%= @user.name %></h3>
<h4>Edit categories and quantities as desired. Unhcheck items to remove from list.</h4>

<%= form_with model: @list, url: "/users/#{@user.id}/lists/#{@list.id}/finalize", local: true do |f| %>
    <% GroceryCategory.all.each do |category| %>
        <h5><%= category.name%></h5>
        <ul>
            <% @purchase_items.each do |purchase_item| %>
                <% if purchase_item.item.grocery_category == category %>
                    <%= f.fields_for :purchase_items, purchase_item do |item_fields| %>
                        <li>
                            <%= item_fields.check_box :included, {checked: "checked"} %>
                            <%= purchase_item.item.name %><br>
                            <%= item_fields.label :quantity %>
                            <%= item_fields.text_field :quantity %><br>
                            <label>Category </label>
                            <%= item_fields.collection_select :grocery_category_id, GroceryCategory.all, :id, :name%><br><br>
                        </li>
                    <% end %>
                <% end %>
            <% end %>
        </ul>
    <% end %>
    <%= f.submit "submit" %>
<% end %>

<%= link_to "Edit list", edit_user_list_path(@user.id, @list) %><br>

<%= link_to "Edit item categories", edit_categories_user_list_path(@user.id, @list) %><br>