<h3><%= @list.name %> by: <%= @user.name %></h3>
<h4>Organized by category</h4>

<% GroceryCategory.all.each do |category| %>
    <h5><%= category.name%></h5>
    <ul>
        <% @purchase_items.each do |purchase_item| %>
            <% if purchase_item.item.grocery_category == category %>
                <li>
                    <%= purchase_item.item.name %>
                    (<%= purchase_item.quantity %>)
                </li>
            <% end %>
        <% end %>
    </ul>
<% end %>

<%= link_to "Edit list", edit_user_list_path(@user.id, @list) %><br>

<%= link_to "Edit item categories", edit_categories_user_list_path(@user.id, @list) %><br>


