<h3><%= @list.name %></h3>

<% @list.list_recipes.each do |list_recipe| %>
    <%= list_recipe.recipe.name %>
    <ul>
    <% list_recipe.recipe.recipe_items.each do |recipe_item| %>
        <li>
            <%= recipe_item.name %>
            (<%= recipe_item.quantity %>)
            <br>Category: <%= recipe_item.item.grocery_category.name %>
        </li>
    <% end %>
    </ul>
<% end %>

Additional Items
<ul>
<% @list.additional_items.each do |additional_item| %>
    <li>
        <%= additional_item.name %>
        (<%= additional_item.quantity %>)
        <br>Category: <%= additional_item.item.grocery_category_name %>
    </li>
<% end %>
</ul>

<%= link_to "Edit list", edit_user_list_path(@user.id, @list) %>
