<%= @list.name %><br>

<% @list.list_recipes.each do |list_recipe| %>
    <%= list_recipe.recipe.name %>
    <ul>
    <% list_recipe.recipe.recipe_items.each do |recipe_item| %>
        <li>
            <%= recipe_item.item_name %>
            (<%= recipe_item.quantity %>)
        </li>
    <% end %>
    </ul>
<% end %>

<% @list.individual_items.each do |individual_item| %>
    <li>
        <%= individual_item.item_name %>
        (<%= individual_item.quantity %>)
    </li>
<% end %>
