<h3>Edit Recipe: <%= @recipe.name %></h3>

<%= form_with model: @recipe, local: true do |f| %>
    <%= f.label :name%>
    <%= f.text_field :name, placeholder: "Chicken Parmesan" %>
    <br>
    <br>
    Add ingredients with quantities below. Then add directions.
    <br>
    <% @recipe.recipe_items.each do |recipe_item| %>
        <%= render partial: "shared/form_for_recipe_items", locals: {f: f, recipe_item: recipe_item} %>
    <% end %>
    <% 15.times do %>
        <%= render partial: "shared/form_for_recipe_items", locals: {f: f, recipe_item: @recipe.recipe_items.build} %>
    <% end %>
    <br>
    <%= f.label :directions %>
    <%= f.text_field :directions, size: 30 %>
    <br>
    <br>
    <%= f.submit %>
    
<% end %>
<br><br>
<%= button_to "Delete Recipe", recipe_path(@recipe), method: :delete %>


