Edit page for <%= @recipe.name %>

<%= form_with model: @recipe, local: true do |f| %>
    <%= f.label :name%>
    <%= f.text_field :name, placeholder: "Chicken Parmesan" %><br><br>
    Add ingredients with quantities below. Then add directions.<br>
    
    <% @recipe.recipe_items.each do |recipe_item| %>
        <%= f.fields_for :recipe_items, recipe_item do |recipe_items_fields| %>
            <label> Ingredient </label>
            <%= recipe_items_fields.text_field :name, list: "item names" %> 
            <datalist id="item names">
                <% Item.pluck(:name).each do |name| %>
                    <option value="<%= name %>">
                <% end %>
            </datalist>
            <%= recipe_items_fields.label :quantity %>
            <%= recipe_items_fields.text_field :quantity %><br>
        <% end %> 
    <% end %>
    <% 15.times do %>
        <%= f.fields_for :recipe_items, @recipe.recipe_items.build do |recipe_items_fields| %>
            <label> Ingredient </label>
            <%= recipe_items_fields.text_field :name, list: "item names" %> 
            <datalist id="item names">
                <% Item.pluck(:name).each do |name| %>
                    <option value="<%= name %>">
                <% end %>
            </datalist>
            <%= recipe_items_fields.label :quantity %>
            <%= recipe_items_fields.text_field :quantity %><br>
        <% end %>
    <% end %>
    <br>

    <%= f.label :directions %>
    <%= f.text_field :directions, size: 30 %><br><br>
    <%= f.submit %>
    
<% end %>
<br><br>
<%= button_to "Delete Recipe", recipe_path(@recipe), method: :delete %>


