<%= link_to "Add new recipe", new_recipe_path %>
<h2>Your recipes:</h2>
<ul>
    <% @your_recipes.each do |recipe| %>
        <li>
            <%= link_to recipe.name, recipe_path(recipe) %> 
            by <%= link_to "you", user_path(current_user) %>
            (<%= link_to "Edit recipe", edit_recipe_path(recipe) %>)<br>
        </li>
    <% end %>
</ul>

<h2>Public recipes:</h2>
<ul>
    <% @public_recipes.each do |recipe| %>
        <li>
            <%= link_to recipe.name, recipe_path(recipe) %> by <%= link_to recipe.user.name, user_path(recipe.user) %>
        </li>
    <% end %>
</ul>