<%= link_to "Add new recipe", new_recipe_path %>
<h2>Your recipes:</h2>
<ul>
    <li>
        <% @your_recipes.each do |recipe| %>
            <%= link_to recipe.name, recipe_path(recipe) %> by <%= link_to "you", user_path(current_user) %>
        <% end %>
    </li>
</ul>

<h2>Public recipes:</h2>
<ul>
    <li>
        <% @public_recipes.each do |recipe| %>
            <%= link_to recipe.name, recipe_path(recipe) %> by <%= link_to recipe.user.name, user_path(recipe.user) %>
        <% end %>
    </li>
</ul>