<%= form_with model: @recipe, local: true do |f| %>
    <%= f.label :name%>
    <%= f.text_field :name, placeholder: "Chicken Parmesan" %><br><br>
    Add ingredients with quantities below. Then add directions.<br><br>
    <% 20.times do %>
        <%= f.fields_for :recipe_items, @recipe.recipe_items.build do |recipe_items_fields| %>
            <label> Ingredient </label>
            <%= recipe_items_fields.text_field :item_name, list: "item names" %> 
            <datalist id="item names">
                <% Item.pluck(:name).each do |item_name| %>
                    <option value="<%= item_name %>">
                <% end %>
            </datalist>
            <%= recipe_items_fields.label :quantity %>
            <%= recipe_items_fields.text_field :quantity %><br>
        <% end %>
        <br>
    <% end %>
    <br>
    <%= f.label :directions %>
    <%= f.text_field :directions, size: 30 %><br><br>
    <%= f.submit %>
<% end %>

