<li style="line-height:normal;">
    <%= f.fields_for :recipe_items, recipe_item do |recipe_items_fields| %>
        <label> Ingredient </label>
        <%= recipe_items_fields.text_field :name, list: "item names" %> 
        <datalist id="item names">
            <% Item.pluck(:name).each do |name| %>
                <option value="<%= name %>">
            <% end %>
        </datalist>
        <%= recipe_items_fields.label :quantity %>
        <%= recipe_items_fields.text_field :quantity %>
    <% end %>
</li><br>