<!DOCTYPE html>
<html>
  <head>
    <title>Grocerylister</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <h1> Grocery Lister </h1>
  </head>

  <body>
    <%= yield %>

    <br>
    <% if session[:name] %>
      <%= form_with url: "/logout", method: :post, local: true do |f| %>
        <%= f.submit "Logout" %>
      <% end %>
    <% end %>
  </body>
  

</html>
