<!DOCTYPE html>
<html>
  <head>
    <title>Grocerylister</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if session[:user_id] %>
      <%= link_to "Home", root_path %>
    <% end %>
    <h1> Grocery Lister </h1>
  </head>

  <body>
    <%= render partial: "shared/error_messages"%>

    <%= yield %>

    <br><br>
    <% if current_user %>
    Footer:
      <br>
        <%= link_to "Recipes", recipes_path %>
      <br>
        <%= link_to "Lists", user_lists_path(current_user) %>
      <br>
        <%= link_to "Items", items_path %>
      <br>
        <%= form_with url: "/logout", method: :post, local: true do |f| %>
          <%= f.submit "Logout" %>
        <% end %>
    <% end %>
  </body>
  

</html>
